<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>content</key>
		<array>
			<dict>
				<key>functionIdentifier</key>
				<string>public.title</string>
				<key>settings</key>
				<dict>
					<key>title</key>
					<string>Informations</string>
				</dict>
			</dict>
			<dict>
				<key>functionIdentifier</key>
				<string>public.script.item</string>
				<key>settings</key>
				<dict>
					<key>args</key>
					<string>title</string>
					<key>path</key>
					<string>/Library/Scripts/HelloIT/host_info.sh</string>
					<key>run</key>
					<integer>0</integer>
				</dict>
			</dict>
			<dict>
				<key>functionIdentifier</key>
				<string>public.script.item</string>
				<key>settings</key>
				<dict>
					<key>args</key>
					<string>title</string>
					<key>network</key>
					<true/>
					<key>path</key>
					<string>/Library/Scripts/HelloIT/air_info.sh</string>
					<key>periodic-run</key>
					<integer>0</integer>
					<key>repeat</key>
					<integer>60</integer>
				</dict>
			</dict>
			<dict>
				<key>functionIdentifier</key>
				<string>public.script.item</string>
				<key>settings</key>
				<dict>
					<key>args</key>
					<string>title</string>
					<key>network</key>
					<true/>
					<key>path</key>
					<string>/Library/Scripts/HelloIT/eth_info.sh</string>
					<key>periodic-run</key>
					<integer>0</integer>
					<key>repeat</key>
					<integer>60</integer>
				</dict>
			</dict>
			<dict>
				<key>functionIdentifier</key>
				<string>public.script.item</string>
				<key>settings</key>
				<dict>
					<key>args</key>
					<string>title</string>
					<key>network</key>
					<true/>
					<key>path</key>
					<string>/Library/Scripts/HelloIT/disk_space.sh</string>
					<key>periodic-run</key>
					<integer>0</integer>
					<key>repeat</key>
					<integer>60</integer>
				</dict>
			</dict>
			<dict>
				<key>functionIdentifier</key>
				<string>public.separator</string>
			</dict>
			<dict>
				<key>functionIdentifier</key>
				<string>public.submenu</string>
				<key>settings</key>
				<dict>
					<key>content</key>
					<array>
						<dict>
							<key>functionIdentifier</key>
							<string>public.script.item</string>
							<key>settings</key>
							<dict>
								<key>path</key>
								<string>/Library/Scripts/HelloIT/tv_cz.sh</string>
							</dict>
						</dict>
						<dict>
							<key>functionIdentifier</key>
							<string>public.open.resource</string>
							<key>settings</key>
							<dict>
								<key>URL</key>
								<string>mailto:sos@cliczone.fr</string>
								<key>title</key>
								<string>Envoyer un mail au support</string>
							</dict>
						</dict>
						<dict>
							<key>functionIdentifier</key>
							<string>public.open.resource</string>
							<key>settings</key>
							<dict>
								<key>URL</key>
								<string>http://www.cliczone.fr</string>
								<key>title</key>
								<string>Site Web</string>
							</dict>
						</dict>
					</array>
					<key>title</key>
					<string>Cliczone</string>
				</dict>
			</dict>
			<dict>
				<key>functionIdentifier</key>
				<string>public.open.application</string>
				<key>settings</key>
				<dict>
					<key>app</key>
					<string>Managed Software Center</string>
					<key>appURL</key>
					<string>/Applications/Managed Software Center.app</string>
					<key>title</key>
					<string>Centre de gestion des logiciels — Munki</string>
				</dict>
			</dict>
			<dict>
				<key>functionIdentifier</key>
				<string>public.separator</string>
			</dict>
			<dict>
				<key>functionIdentifier</key>
				<string>public.quit</string>
			</dict>
		</array>
		<key>icon</key>
		<string>/Users/Shared/HelloIT_icon.png</string>
		<key>title</key>
		<string>Hello IT</string>
	</dict>
</plist>
